.poster{
    width: 200px;
    height: 300px;
    margin: 10px 15px; 
}

.poster img{
    width: 100%;
    height: auto; 
    padding: 0 5px;
    border-radius: 15px
}

.peliculas-container{
    background-color: grey;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid black;
}

.categorias-container{
    background-color: grey;
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid black;
}

.listado-categorias > span{
    margin: auto;
}

.listado-categorias{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding: 10px;
}

.lista-generos{
    display: flex;
    width: 90%;
    padding: 10px;
}

.lista-generos{
    list-style: none;
}

.lista-generos > li{
    margin: 0 10px;
    background-color: wheat;
    border-radius: 15px;
    border: 1px solid black;
    padding: 3px 9px 3px 4px;
}

.lista-generos > li:hover {
    background-color: rgb(252, 67, 34); /* Cambia el color de fondo a rojo */
    cursor: pointer; /* Cambia el cursor a un dedo apuntando */
}


#input-genero{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 3px 9px 3px 4px;
    margin: auto 10px;
}

.item{
    width: 090%;
    height: auto;
    display: flex;
    margin: 0 auto;
    background-color: grey;
    justify-content:flex-start;
    border-radius: 30px;
    border: 2px solid black;
}

.item-image{
    width: 300px;
    margin: 10px 15px;
}

.item-image img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.item-info{
    width: 60%;
    margin: 10px 30px;
}

#formPelicula{
    background-color: grey;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 columnas de igual ancho */
    grid-template-rows: repeat(5, 1fr); /* 5 filas de igual altura */
    gap: 10px; /* Espacio entre las celdas del grid */
    padding: 20px;
}

#titulo {
    grid-column: span 5; /* Ocupa 5 columnas */
}

#anio {
    grid-column: 7 / span 2; /* Ocupa las 2 columnas restantes */
}

#director{
    grid-column: span 4;
    grid-row: 2;
}

#formPelicula #input-genero{
    grid-column: 6 / span 3;
    grid-row: 2;
    width: 100%;
    margin: 0;
}

#descripcion{
    grid-column: span 8;
    grid-row: 3 / span 2;
}

#btnSubmit{
    grid-column: 4 / span 2;
    grid-row: 5;
    width: 90%;
}

#formPelicula input, #formPelicula textarea{
    border-radius: 6px;
    border: 1px solid black;
    padding: 3px 9px 3px 4px;
}